# Ignore files that have no "." (https://stackoverflow.com/a/31326382)
*
!*/
!*.*

# Exceptions, not ignored even though they have no ".".
!/bow-test
!/heredoc
!/primes
!/*-sieve

# Ignore editor tempfiles.
.*.swp

# Ignore compile Python bytecode.
# (This repo has some code in other languages, for comparison to Crystal.)
__pycache__/
